html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: visible;
    background: #172435;
    background: rgba(31, 50, 74, 0.82);
    background: rgb(21, 28, 38);
    font-family: 'Cuprum', sans-serif;
}

.topint {
    position: relative;
    width: 100%;
    color: white;
    text-align: center;
    border-style: solid;
    border-width: 27px 19px 27px 27px;
    -moz-border-image: url(http://i.imgur.com/r1rbLwC.png) 27 19 27 27;
    -webkit-border-image: url(http://i.imgur.com/r1rbLwC.png) 27 19 27 27;
    -o-border-image: url(http://i.imgur.com/r1rbLwC.png) 27 19 27 27;
    border-image: url(http://i.imgur.com/r1rbLwC.png) 27 19 27 27 fill;
    width: 600px;
    z-index:9999999 !important; 
        margin-top: -45% !important;
}

.topint h1 {
    font-size: 46pt !important;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 4px;
    opacity: 0.99 !important;
    color: white;
    margin-bottom: -10px;
}

.topint h2 {
    font-size: 26pt;
    font-weight: lighter;
    letter-spacing: 4px;
    opacity: 0.6;
    color:white;
}

.aboutme {
    border: 1px solid white;
    background-color: transparent;
    text-decoration: none;
    color: white;
    letter-spacing: 3px;
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.aboutme:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFFFFF;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.aboutme:hover:before,
.aboutme:focus:before,
.aboutme:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

a.aboutme:hover {
    /*    background-color: #FFFFFF;*/
    color: #172435;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

a.aboutme:active {
    top: 30px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.porta {
    border: 1px solid rgb(255, 255, 255);
    ;
    background-color: rgba(255, 255, 255, 0.22);
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 3px;
    display: inline-block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    position: relative;
    top: 20px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}

.porta:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.88);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.porta:hover:before,
.porta:focus:before,
.porta:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}

a.porta:hover {
    color: #172435;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

a.porta:active {
    top: 30px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.main {
    position: relative;
/*    height: 6000px;*/
    background: #f5f5f5;
    background: #eaeaea;
    padding-top:20px;
/*    background: white;*/
}

.device-preview {
    margin: 20px auto auto;
    background: url(/zxpc-pho/sprite.png) no-repeat;
    background-size: 100%
}

div.preview-ios .device-preview {
    width: 467px;
    height: 800px
}

.appshowcase {
    background: #FFF;
    height: auto;
    padding-top: 0px;
    padding-bottom: 100px;
    position: relative;
    margin-top: 5px;
    color: #333;
}

.tablepusher {
    margin-right:50px;
    margin-left:50px;
}

table.portlist {
    width: 100%;
    font-size: 8pt;
    text-align: center;
    text-transform: lowercase;
    letter-spacing:2px;
    font-family: Cousine;
}

td.portlist {
    width: 25%
}

.mainport img {
    width: 100%;
    height: 150px;
    position: relative;
    top: 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

.mainport img:hover {
    position: relative;
    top: -10px;
    border-bottom: 2px solid #ff406d;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}


.mainport2{

}

.mainport3 img {
-webkit-clip-path: polygon(0 0, 100% 0, 100% 9%, 0 9%);
clip-path: polygon(0 0, 100% 0, 100% 9%, 0 9%);
    
    width: 100%;
    height:auto;
    
    position: relative;
    top: 0;
    padding-bottom: 4px;
    border-bottom: 2px solid transparent;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease    
    
}


a.portlinks {
    text-decoration: none;
    color: #3e87b4;
    border-bottom: 1px solid transparent;
    padding-bottom: 1px;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}

a.portlinks:hover {
    border-bottom: 1px solid #3e87b4;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease
}
